<%= @post.each do |x|%>
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4 white">
		<!--<%= image_tag x.image.url(:original), class: "imgres"  %><br>-->
		<%=link_to image_tag(x.image.url(:original), class: "imgres"), x %>
		<h2><%= x.description %></h2>

	</div>
	<div class="col-sm-4"></div>
</div> <br><br>
<% end %>
